header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  background-color: #f2e9e4;
  border-bottom: 1px #f4f3ee solid;
  font-family: Arial, sans-serif;
}

.container {
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2e9e4;
}

.calculator-body {
  border: 5px #3c4043 solid;
  background-color: #c9ada7;
  border-radius: 10px;
  height: 475px;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

.buttons > .deleteBtn {
  background-color: #d77a61;
}

.buttons > .clearBtn {
  background-color: #d77a61;
}

.buttons > button {
  height: 50px;
  width: 50px;
  margin: 5px;
  flex: 0 0 100px;
  background-color: #f4f3ee;
  border: 2px #3c4043 solid;
  font-size: 25px;
  font-family: Arial, sans-serif;
  color: #3c4043;
  border-radius: 3px;
}

.textbox {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 17px;
  height: 50px;
  width: 315px;
  text-align: end;
  align-self: center;
  font-size: 200%;
  background-color: #eee4e1;
}

footer {
  background-color: #f2e9e4;
  border-top: 2px #f4f3ee solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > a > img {
  align-self: flex-end;
  height: 30px;
  margin-left: 10px;
}
